<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>저자 목록</title>
  <link rel="stylesheet" th:href="@{/styles.css}"/>
</head>
<body>
<h1>저자 목록</h1>

<p>
  <a href="/">홈으로</a>
  <a href="/authors/add">저자 등록</a>
</p>

<table>
  <thead>
  <tr>
    <td>ID</td>
    <td>이름</td>
    <td>액션</td>
  </tr>
  </thead>
  <tbody th:each="author: ${authors}">
  <tr>
    <td th:text="${author.id}"></td>
    <td th:text="${author.name}"></td>
    <td>
      <a th:href="@{'/authors/edit/' + ${author.id}}">수정</a>
      <form th:action="@{'/authors/delete/' + ${author.id}}" method="post" style="display:inline;">
        <button type="submit">삭제</button>
      </form>

    </td>
  </tr>
  </tbody>
</table>
</body>
</html>