<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>‍도서 목록</title>
    <link rel="stylesheet" th:href="@{/styles.css}"/>
</head>
<body>
<h1>도서 목록</h1>

<p>
    <a href="/">홈으로</a>
    <a href="/books/add">도서 등록</a>
</p>

<table>
    <thead>
    <tr>
        <td>ID</td>
        <td>제목</td>
        <td>저자</td>
        <td>액션</td>
    </tr>
    </thead>
    <tbody th:each="book: ${books}">
    <tr>
        <td th:text="${book.id}"></td>
        <td th:text="${book.title}"></td>
        <td th:text="${book.authorId} ?: '-'"></td>
        <td>
            <a th:href="@{'/books/' + ${book.id}}">상세 정보</a>
            <a th:href="@{'/books/edit/' + ${book.id}}">수정</a>
            <form th:action="@{'/books/delete/' + ${book.id}}" method="post" style="display:inline;">
                <button type="submit">삭제</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>